* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 112.5%;
  margin: 0;
  background-color: rgb(226, 226, 222);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  background-color: cadetblue;
}

h1 {
  margin-left: 20px;
  color: #fff;
  border-style: solid;
  padding: 1px 10px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  background-color: cadetblue;
  color: #fff;
  padding-left: 25px;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #fff;
}

nav > ul {
  display: flex;
  list-style-type: none;
}

.illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-links {
  margin: 5px;
  list-style-type: none;
  color: #fff;
}

figcaption {
  text-align: center;
}

.header-img {
  max-width: auto;
}

#image-skills {
  background-color: rgb(255, 255, 255);
}

#biography {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}

#contact {
  background-color: rgb(255, 255, 255);
  margin-bottom: 0;
}

#networks {
  background-color: rgb(255, 255, 255);
  margin-top: 0;
}

.skills-trans {
  margin: 0;
  padding: 0;
}

.skills-trans > li {
  list-style-type: none;
  background-color: rgb(226, 226, 222);
  margin: 0.5rem;
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem;
}

main {
  width: 70%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 720px) {
  main {
    width: 100%;
  }
}

table {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.left-column {
  width: 30%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.right-column {
  width: 70%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.table-body {
  background-color: cadetblue;
  padding: 0;
  margin: auto;
  width: %;
}

th {
  color: #fff;
}

caption {
  color: #fff;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.phone-mail {
  width: 100%;
}

.phone {
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  margin: 5px;
  height: 150px;
  width: 200px;
}

.mail {
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  height: 150px;
  width: 200px;
}

p {
  padding: 5px;
}

footer {
  text-align: center;
  background-color: cadetblue;
  color: #fff;
}

.div-bio {
  width: 500px;
  margin: auto;
  height: auto;
}

.contact-base {
  align-items: baseline;
  justify-content: space-evenly;
}
