* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 112.5%;
  margin: 0;
  background-color: lightgray;
}

main {
  width: 70%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 720px) {
  main {
    width: 100%;
  }
}

h1 {
  margin-left: 20px;
  color: #fff;
  border-style: solid;
  padding: 1px 10px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  background-color: cadetblue;
  color: #fff;
  padding-left: 25px;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  padding: 5px;
}

figcaption {
  text-align: center;
}
